@font-face {
    font-family: fontstack;
    font-style: normal;
    src: local("Format_1452");
}

body, .btn {
  font-family: fontstack;
}

#head, #page, #foot {
  display:flex;
}

#head > div {
  width: 33%;
}

.glyph img, .header-menu img {
  max-height:30px;
  padding: 5px 0;
}

#head .header-menu img {
  max-height: 20px;
}

.header-menu {
  text-align: right;
}

.cat-logo {
  text-align: center;
}

.cat-logo img {
  max-height: 40px;
}

.nav-start .cat-logo img {
  display: none;
}

#page {
  flex-direction: column;
  align-self: center;
  background-color: #DAD9CF;
  padding-top:4em;
}

body {
  background-color:#292929;
}

#head, #foot {
  background-color: #000;
}

#foot {
  width:100%;
  justify-content: center;
  padding:1em 0;
}

#foot p {
  color:#fff;
  font-size: 0.90em;
}

#foot .copyright {
  font-family: 'Helvetica', sans-serif;
}

#foot img {
  width:60%;
}

#foot .contain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.contain {
  width: 60%;
  align-self: center;
}

#hero {
  flex-direction: column;
  display:flex;
  align-items: center;
}

#hero img {
  max-height: 140px;
  margin:2em 0 1em;
}

#hero .btn {
  width:33%;
}

#hero h1 {
  font-size: 1.8em;
}

.title {
  text-transform: uppercase;
}


.btn-prim {
  background-color: #000;
  color: #DAD9CF;
}

#trio {
  display: flex;
  flex-direction: row;
}

.trio-col {
  width:33.33333%;
}

.trio-col img {
  width:100%;
  display:block;
}

.trio-col h2 {
  margin:0;
  text-align: center;
  font-size: 2.6em;
  padding: 0.5em 1em 1em;
  line-height: 1.2em;
}

.bg-green {
  background-color: #009E72;
}

.bg-yellow {
  background-color: #DECD38;
}

.bg-brown {
  background-color: #A17354;
}
