@font-face {
    font-family: fontstack;
    font-style: normal;
    src: local("Format_1452");
}


#head, #page, #foot {
  display:flex;
  font-family: fontstack;
}

#head img {
  max-height:36px;
}

.nav-start > img {
  display: none;
}

#page {
  flex-direction: column;
  align-self: center;
  background-color: #DAD9CF;
  padding-top:4em;
}

body {
  background-color:#292929;
}

#head, #foot {
  background-color: #000;
}

#foot {
  width:100%;
  justify-content: center;
  padding:1em 0;
}

#foot p {
  color:#fff;
  font-size: 0.75em;
}

#foot img {
  width:60%;
}

#foot .contain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex:1 0 auto;
}

.contain {
  max-width: 70%;
  align-self: center;
}

#hero {
  flex-direction: column;
  display:flex;
  align-items: center;
}

#hero img {
  max-height: 200px;
  padding:1.5em;
}

.title {
  text-transform: uppercase;
}

.btn-prim {
  background-color: #000;
  color: #DAD9CF;
}
