/* Fonts */

@font-face {
    font-family: Format_1452;
    src: url('webfonts/Format_1452.otf') format('opentype');
}
@font-face {
    font-family: Salford_Sans_black;
    font-style: black;
    src: url('webfonts/Lewis McGuffie Type - Salford Sans Black.otf') format('opentype');
}
@font-face {
    font-family: Salford_Sans_medium;
    font-style: medium;
    src: url('webfonts/Lewis McGuffie Type - Salford Sans Medium.otf') format('opentype');
}
@font-face {
    font-family: Salford_Sans_bold;
    font-style: bold;
    src: url('webfonts/Lewis McGuffie Type - Salford Sans Bold.otf') format('opentype');
}
@font-face {
  font-family: ZupType;
  src: url('webfonts/zuptype_ccc.ttf') format('truetype');
}
.zup {
  font-family: ZupType;
}
.format {
  font-family: Format_1452;
}
.salford {
  font-family: Salford_Sans_black;
}
.salford-bold {
  font-family: Salford_Sans_bold;
}
.salford-text {
  font-family: Salford_Sans_medium;
  font-size: 1.4em;
  line-height: 1.3em;
}


/* Structural styles */
html, body {
  height: 100%;
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.75em;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #292929;
  font-family: 'Helvetica', sans-serif;
}
#head, #page, #foot {
  display:flex;
}
#head, #foot {
  background-color: #000;
}
#head {
  position: fixed;
  width: 100%;
  padding: 1em;
  box-sizing: border-box;
  align-items: center;
  z-index: 1;
}
#head > div {
  width: 33%;
}
body.buildPage #head.nav-start {
  opacity: 100;
}
body.buildPage #page {
  padding-top: 0;
  flex-direction: row;
  background-color: inherit;
  margin-top: 20vh;
}
body.buildPage #page {
}

#page {
  flex: 1 0 auto;
}
#page {
  flex-direction: column;
  align-self: center;
  background-color: #DAD9CF;
  padding-top: 4em;
}

#foot {
  flex-shrink: 0;
  width: 100%;
  justify-content: center;
  padding: 1em 0;
}
#foot p {
  color: #fff;
  font-size: 0.90em;
}
#foot li {
  font-size: 0.8rem;
}
#foot .copyright {
  font-family: 'Helvetica', sans-serif;
}
#foot img {
  width: 60%;
}
#foot .contain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.contain {
  width: 55%;
  align-self: center;
}
.contain-70 {
  width: 70%;
  margin: auto;
}
.box {
  background-color: #DAD9CF;
}


/* Link styles */
/* TODO: fix so it applies just to external links
a[href]:visited {
  color:inherit;
} */
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  text-decoration: underline;
}
a.btn:hover {
  text-decoration: none;
}
:focus {
  border-style: solid;
  border-width: 0.5px;
}


/* Main content container */
.window {
  margin: 4em 0;
  padding: 2em;
}
.window:first-child {
  margin-top: 0;
}
#page > .window ~ .window {
  margin-top: 4em;
}
.window h3 {
  text-transform: uppercase;
  font-size: 3em;
  line-height: 1.5em;
  margin: 0;
  flex: 0 0 40%;
}
.buildPage .window {
  margin: 4em auto;
  padding: 2em;
}
.buildPage .window > :not(h3) {
  padding: 0 2em;
}
.buildPage .window div {
  display: flex;
  flex-direction: column;
  width: 100%
}
#no-js.window {
  flex-direction: column;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}


/* Buttons */
.btn {
  border: 2px solid;
  padding: 0.5em;
  margin: 0.8em;
  text-align: center;
  cursor: pointer;
  font-size: 1.5em;
}
.btn-prim {
  border-color: black;
  font-weight: bold;
  background-color: #000;
  color: #DAD9CF;
}
.nav-start .btn.btn-seco {
  color: #fff;
  background-color: #066493;
}
.nav-start .btn.btn-seco:hover {
  color: #066392;
  background-color: #fff;
}
button::-moz-focus-inner {
  outline: none;
  border: none;
}



/* Snapshot styles - remove if functionality is deleted */
#snapshotPolicy:disabled, #snapshotPolicy:disabled + div {
  display: none;
}
#snapshotGroup.hidden{
  display: none !important;
}
#snapshotLink {
  padding: 1em;
  margin: 10px;
  border-style: dotted;
  text-align: left;
  margin-left: 0;
}
#snapshotGroup{
  display: flex;
  flex-direction: column;
  color: #f2eee2;
  font-size: 0.8em;
}
#snapshotGroup div {
  display: flex;
  align-items: center;
}
.fa-copy{
  color: #f2eee2;
  font-size: 2em;
  cursor: pointer;
  opacity: 0.8;
}
.fa-copy:hover {
  opacity: 1;
}


/* Nav bar styles */
.glyph img, .header-menu img {
  max-height:30px;
  padding: 5px 0;
}
#head .header-menu img {
  max-height: 20px;
}
.header-menu {
  text-align: right;
}
.cat-logo {
  text-align: center;
}
.cat-logo img {
  max-height: 50px;
}
.nav-start .cat-logo img {
  display: none;
}
.buildPage .nav-start .cat-logo img {
  display: initial;
}
#menu-trigger, #link-home {
  cursor: pointer;
}
#menu-trigger.dim {
  opacity: 0.25;
}
#menu-container {
  width: 33.33333%;
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0,0.95);
  align-self: end;
  margin-top: 5em;
  text-align: center;
}
#menu-container span {
  color: #fff;
  font-size: 2em;
  border: 4px solid currentColor;
  padding: 0.5em 0.55em 0.25em;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}
#menu-container span:active, #menu li:active, #menu-trigger:active {
  opacity: 0.5;
}
#menu {
  text-align: center;
  color: #fff;
  list-style: none;
  font-size: 2.5em;
  padding-left: 0;
  line-height: 2.5em;
}
#menu-container.close {
  display: none;
}


/* NOTE: when refactoring is complete, examine whether the following styles are still needed */

/* Element not created - remove if code references are deleted */
.policyHolder {
  width: 100%;
  display: inline-block;
  min-height: 300px;
  border: none;
  padding: 1em 2em;
  box-sizing: border-box;
  text-align: left;
  line-height: 1.8em;
  color: #1b263b;
}


/* Remove when code references to Edit functionality are deleted */
.form-el label[contenteditable="true"] {
  border-style: dotted;
  border-width: 4px;
  cursor: text;
}
.showAllQs {
  display: block;
}


/* Submit answers has been commented out in JS but may be needed - keep for now */
#submitAnswers {
  margin-right: 0;
}

#submitAnswers:disabled {
  cursor: not-allowed;
  opacity: 75%;
  background-color: #888685;
  border: #ccc;
}
