/* Structural styles */
html, body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  overflow-x: hidden;
  background-color: #FFFEF5;
  font-family: '-apple-system','BlinkMacSystemFont','Avenir Next','Avenir','Helvetica Neue','Helvetica','Ubuntu','Roboto','Noto','Segoe UI','Arial',sans-serif;
}
body > * {
  box-sizing: border-box;
}
#head, #page, #foot {
  display:flex;
}
#head {
  background-color: #000;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  align-items: center;
  z-index: 1;
  justify-content: space-between;
  padding: 5px 10px;
    z-index:10;
}
#page.survey {
  padding-top: 5em;
  flex-direction: column;
  align-items: center;
}

#page {
  flex-direction: column;
  align-items: center;
}

#page.understand-risk {
  background-color: #009e72;
}
#page.op-sec {
    background-color: #decd38;
}
#page.devices-accounts {
    background-color: #6b60bf;
}

#foot {
  flex-shrink: 0;
  width: 100%;
  padding: 2.5em;
  background-color: #DAD9CF;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#foot img {
  max-height: 30px;
}
#foot img:nth-child(2){
  max-height: 20px;
  padding-left: 0.5em;
  padding-bottom: 2px;
}
#foot span {
  font-weight: bold;
  display:block;
}
#foot .info p {
  font-size: 0.8em;
  line-height: 1.8em;
}
#foot .links p {
  text-align: right;
}
.contain-sm {
  width: 45%;
  margin: auto;
}

.contain-md {
  max-width: 80vw;
}

/* Link styles */
/* TODO: fix so it applies just to external links
a[href]:visited {
  color:inherit;
} */
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.cta {
  width:100%;
  background-color: #dad9cf;
  padding:2em;
  text-align: center;
  margin:4em 0;
}

/* Main content container */
.window {
  margin: 4em 0;
  padding: 2em;
}
#page > .window ~ .window {
  margin-top: 4em;
}
.window h3 {
  text-transform: uppercase;
  font-size: 3em;
  line-height: 1.5em;
  margin: 0;
  flex: 0 0 40%;
}
.buildPage .window {
  margin: 4em auto;
  padding: 2em;
}
.buildPage .window > :not(h3) {
  padding: 0 2em;
}
.buildPage .window div {
  display: flex;
  flex-direction: column;
  width: 100%
}
#no-js.window {
  flex-direction: column;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}


/* Buttons */
.btn {
  border: 2px solid;
  padding: 0.5em;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
}
.btn-prim {
  border: none;
  background-color: #009e72;
  color: #fff;
  padding:1em;
}
button::-moz-focus-inner {
  outline: none;
  border: none;
}



/* Snapshot styles - remove if functionality is deleted */
#snapshotPolicy:disabled, #snapshotPolicy:disabled + div {
  display: none;
}
#snapshotGroup.hidden{
  display: none !important;
}
#snapshotLink {
  padding: 1em;
  margin: 10px;
  border-style: dotted;
  text-align: left;
  margin-left: 0;
}
#snapshotGroup{
  display: flex;
  flex-direction: column;
  color: #f2eee2;
  font-size: 0.8em;
}
#snapshotGroup div {
  display: flex;
  align-items: center;
}
.fa-copy{
  color: #f2eee2;
  font-size: 2em;
  cursor: pointer;
  opacity: 0.8;
}
.fa-copy:hover {
  opacity: 1;
}


/* Nav bar styles */
.glyph img {
  max-height:30px;
  margin-right: 0.5em;
}
.glyph img:last-child{
  max-height: 25px;
}
#head .header-menu img {
  max-height: 20px;
  padding-left: 0.5em;
}
.header-menu {
  text-align: right;
  display: flex;
  color:#fff;
  border:0.1em solid;
  align-items: center;
  line-height: 0em;
  padding: 0.1em 1.5em;
  font-size: 0.8em;
}
.cat-logo {
  text-align: center;
}
.cat-logo img {
  max-height: 50px;
}
#menu-trigger, #link-home {
  cursor: pointer;
}
#menu-trigger.dim {
  opacity: 0.25;
}
#menu-container {
  width: 33.33333%;
  position: fixed;
  z-index: 1;
  background-color: rgba(0,0,0,0.95);
  align-self: end;
  margin-top: 5em;
  text-align: center;
}
#menu-container span {
  color: #fff;
  font-size: 2em;
  border: 4px solid currentColor;
  padding: 0.5em 0.55em 0.25em;
  border-radius: 50%;
  display: none;
  cursor: pointer;
}
#menu-container span:active, #menu li:active, #menu-trigger:active {
  opacity: 0.5;
}
#menu {
  text-align: center;
  color: #fff;
  list-style: none;
  font-size: 2.5em;
  padding-left: 0;
  line-height: 2.5em;
}
#menu-container.close {
  display: none;
}

.add-shadow {
  box-shadow: 2px 2px 4px 2px rgba(0,0,0,.2);
}

/* NOTE: when refactoring is complete, examine whether the following styles are still needed */

/* Element not created - remove if code references are deleted */
.policyHolder {
  width: 100%;
  display: inline-block;
  min-height: 300px;
  border: none;
  padding: 1em 2em;
  box-sizing: border-box;
  text-align: left;
  line-height: 1.8em;
  color: #1b263b;
}


/* Remove when code references to Edit functionality are deleted */
.form-el label[contenteditable="true"] {
  border-style: dotted;
  border-width: 4px;
  cursor: text;
}
.showAllQs {
  display: block;
}


/* Submit answers has been commented out in JS but may be needed - keep for now */
#submitAnswers {
  margin-right: 0;
}

#submitAnswers:disabled {
  cursor: not-allowed;
  opacity: 75%;
  background-color: #888685;
  border: #ccc;
}
