/* Home page styles */
.contain-md{
  display: flex;
  flex-direction: row;
}

.home, .contain-lrg {
  justify-content: flex-start;
  max-width:90vw;
  flex-direction: column;
  display: flex;
}

.gather {
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  padding-top: 1em;
}

#promo {
  max-width: 20vw;
}

.home #intro-container {
  display: flex;
  flex-direction: column;
  flex-basis: 35vw;
  padding-right: 2em;
  margin-right: 4em;
}
/*
.trio p {
  flex: 2 0 60%;
}
.trio h1 {
  flex: 1 0 15%;
}
#trio {
  display: flex;
  flex-direction: row;
}
.trio-col {
  width: 33.33333%;
}
.trio-col span {
  display: block;
}
.trio-col a {
  color: inherit;
}
.trio-col a:focus {
  border: 0;
}
.trio-col a:active:focus {
  display: block;
  border: 0;
  color: inherit;
}
.trio-col img {
  width: 100%;
  display: block;
}
.trio-col h2 {
  margin: 0;
  text-align: center;
  font-size: 2.4em;
  padding: 0.5em 1em 1em;
  line-height: 1.2em;
} */
#hero {
  flex-direction: column;
  margin-top:5em;
}
#hero-header {
  display:flex;
  flex-direction: row;
  align-items: center;
}
#hero-header-text {
  padding-right: 5em;
}
#hero-header-img img {
  max-width: 100%;
}
#hero h1 {
  font-size: 3em;
  line-height: normal;
  margin: 0 0 0.5em;
}
#hero h2 {
  font-size: 1em;
  font-weight: normal;
}

/* Basics page */
.basics > .contain-70 {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.basics-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 2em !important;
}
.basics-head img {
  width: 40%;
  position: relative;
  bottom: -2em;
  right:-3em;
}
.basics-head h2 {
  font-size: 4.6em;
  line-height: 1em;
  text-align: left;
  margin: 0.5em 0 0;
  width: 60%;
}
.basics-head h2 span {
  display: block;
}
.basics .btn {
  margin: 1em 0;
}
.basics .btn a {
  color: #fff;
}
.basics .btn.right {
  align-self: end;
}
.basics .btn.left {
  align-self: start;
}

/* Team section */
#team {
  flex-direction: column;
}
.people {
  display: flex;
  flex-wrap: wrap;
}
.person {
  display: flex;
  flex-direction: column;
  margin: 2em;
  flex: 1 0 20%;
}
.person-name {
  font-weight: bold;
}
.person img {
  max-width: 160px;
}
.person span {
  display: inline;
}

/* Legal section */
#legal ul {
  margin: 0;
}
.brown-bg {
  background-color: #A17354;
  margin-top:2em;
}
.brown-bg .contain-sm {
  background-color: #FFFEF5;
  padding: 3em 5em;
  margin-top:4em;
}

/* How section */

/* Survey */
.mob-overlay {
    display:none;
}
.question {
  width: 60%;
  margin-top: 4em;
}
.level {
  background-color: #000;
  padding-top: 10vh;
}
.level .inner {
  background-color: #DAD9CF;
  display: flex;
  flex-direction: column;
}
.level .inner h1 {
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
}
.inner > img:last-child {
  height: 100px;
}
.level img.number {
  width: 60%;
  align-self: center;
}
.left-col img {
  width: 100%;
}
.left-col img:last-child {
  padding-top: 1em;
}

.left-col {
  flex:0 0 24%;
  margin-right: 1.5em;
  align-self: baseline;
}


.submenu {
  color:#fff;
  font-size: 0.8em;
  cursor: pointer;
}
.submenu .subMenuTitle {
  background-color: #003f2e;
}
.submenu h4 {
  padding: 1em;
  font-size: 1em;
  font-weight: normal;
}
.submenu ul {
  list-style: none;
  padding:0;
}
.submenu h4::before, .submenu li::before {
  font-weight: bold;
  display: inline-block;
  width: 3em;
}
/* four styles for dots:
large green filled (section started)
small green filled (subsection started)
large black fill green border ()
small black fill green border */


.submenu li::before {
  content: "\25cb";
  color:#009e72;
}
.submenu li.started::before {
  content: "\25cf";
  color:#009e72;
}
.submenu h4:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.submenu li.selected, .submenu li:hover {
  background: rgba(255,255,255,0.9);
  color:#000;
}
.submenu h4::before {
  content: "\25cb";
  color:#009e72;
  font-size: 1.25em;
  width:2em;
}
.submenu ul, .submenu h4 {
  margin:0;
}
.submenu li {
  background: #000;
  padding:1em 1.4em;
  border:1px solid rgba(255,255,255,0.2);
  font-size: 0.9em;
}
.submenu div > ul {
  display:none;
}
.submenu div.selected > ul {
  display: initial;
}
.right-col {
  background-color: #fffef5;
    width:63%;
}
.right-col img {
  max-width: 100%;
  margin:0 auto;
  display:block;
}

/* TODO: figure out why Twitter's instructions on styling aren't working here */
blockquote.twitter-tweet{
  font-size: 10px !important;
}
blockquote.twitter-tweet p {
  font-size: 10px !important;
}

.outer {
  display: none;
  width: 100%;
}
.outer.current{
  display: inherit;
}
form {
  scroll-snap-align: start;
}
form h3 {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1em;
}
form h4 {
  font-size: 1.5em;
  margin-top:0;
}
.form-el {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.form-el label {
  padding-left: 0.25em;
  font-size: 1.15em;
  font-weight: lighter;
}
.answers {
  border-bottom: 2px solid #000;
  padding-bottom: 1.5em;
}

.dots {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circle {
  width:10px;
  height: 10px;
  border-radius: 100%;
  margin:1em 0;
}

.circle:first-child {
  background-color: #009e72;
}
.circle:nth-child(2){
  background-color: #decd38;
}
.circle:nth-child(3){
  background-color: #6b60bf;
}
.circle:last-child{
  background-color: #a17354;
}

/* Progress bar */
.p-circ {
  width: 4px;
  height: 4px;
  border: 2px solid #000;
  border-radius: 50%;
  margin: 2px;
}
.p-circ.current {
  background-color: #000;
}
.progress {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Survey nav */

.subgroup {
  display: none;
}
.active {
  display: block;
}
fieldset {
  border:0;
  line-height: inherit;
  padding: 0;
  margin: 0 0 2em 0;
}
legend {
  font-size: 1.2em;
  padding-bottom: 1em;
}
span {
  display:block;
}
form span {
  margin: 0 1em;
  padding: 0.25em 0;
}
form input {
  margin-right: 10px;
}

.save-btn {
  background-color: #000;
  color: #fff;
  border: 0;
  margin-top: 20px;
  padding: 16px;
    right:-100px;
    position: absolute;
    width:120px;
    
}

.overlap-col {
    background-color: red;
    width:100%;
    position: relative;
    z-index: 3;
}

.contain-survey {
    padding:4em;
}

.rhombus {
    width:120px;
    position: absolute;
}

.rhombus.l {
    left:-60px;
}
.rhombus.r {
    right:-60px;
}
.rhombus.top {
    top:70vh;
}
.rhombus.mid {
    top:100vh;
}
.rhombus.base {
    top:130vh;
}