/* Home page styles */
.trio p {
  flex: 2 0 60%;
}
.trio h1 {
  flex: 1 0 15%;
}
#trio {
  display: flex;
  flex-direction: row;
}
.trio-col {
  width: 33.33333%;
}
.trio-col span {
  display: block;
}
.trio-col a {
  color: inherit;
}
.trio-col a:focus {
  border: 0;
}
.trio-col a:active:focus {
  display: block;
  border: 0;
  color: inherit;
}
.trio-col img {
  width: 100%;
  display: block;
}
.trio-col h2 {
  margin: 0;
  text-align: center;
  font-size: 2.4em;
  padding: 0.5em 1em 1em;
  line-height: 1.2em;
}
#hero {
  flex-direction: column;
  display: flex;
  align-items: center;
}
#hero img {
  max-height: 140px;
  margin: 1em 0 1em;
}
#hero .btn {
  width: 33%;
  margin: 0.8em 0;
}
#hero h1 {
  font-size: 1.8em;
}


/* Basics page */
.basics > .contain-70 {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}
.basics-head {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  margin-bottom: 2em !important;
}
.basics-head img {
  width: 40%;
  position: relative;
  bottom: -2em;
  right:-3em;
}
.basics-head h2 {
  font-size: 4.6em;
  line-height: 1em;
  text-align: left;
  margin: 0.5em 0 0;
  width: 60%;
}
.basics-head h2 span {
  display: block;
}
.basics .btn {
  margin: 1em 0;
}
.basics .btn a {
  color: #fff;
}
.basics .btn.right {
  align-self: end;
}
.basics .btn.left {
  align-self: start;
}

/* Team section */
.people {
  display: flex;
  flex-wrap: wrap;
}
.person {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  flex-basis: 33%;
}
.person-name {
  font-weight: bold;
}

/* Legal section */
#legal ul {
  margin: 0;
}
.brown-bg {
  background-color: #A17354;
  padding: 3em 0;
  margin-top:3em;
}
.brown-bg .contain {
  background-color: #FFFEF5;
}

/* How section */
#how div p:nth-child(2) {
  border-left: 15px solid #009E72;
  padding-left: 1.5em;
}


/* Survey */
.question {
  width: 60%;
  margin-top: 4em;
}
.level {
  background-color: #000;
  padding-top: 10vh;
}
.level .inner {
  background-color: #DAD9CF;
  display: flex;
  flex-direction: column;
}
.level .inner h1 {
  text-transform: uppercase;
  font-size: 3em;
  text-align: center;
}
.inner > img:last-child {
  height: 100px;
}
.level img.number {
  width: 60%;
  align-self: center;
}
.left-col img {
  width: 100%;
}
.left-col img:last-child {
  padding-top: 1em;
}

.left-col {
}
.right-col {
}

.outer {
  display: none;
  width: 100%;
}
.outer.current{
  display: inherit;
}
form {
  padding: 1em 2em 0em;
  scroll-snap-align: start;
  font-size: 1.1em;
}
form h2 {
  line-height: 1.2em;
}
.form-el {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.form-el label {
  padding-left: 0.25em;
  font-size: 1.15em;
  font-weight: lighter;
}
.answers {
  border-bottom: 2px solid #000;
  padding-bottom: 1.5em;
}

/* Progress bar */
.p-circ {
  width: 4px;
  height: 4px;
  border: 2px solid #000;
  border-radius: 50%;
  margin: 2px;
}
.p-circ.current {
  background-color: #000;
}
.progress {
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

/* Survey nav */
.action {
  background-color: #000;
  color: #DAD9CF;
  height: 10vh;
  text-transform: uppercase;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 1em;
}
.action h3 {
  font-size: 1.5em;
}
