@media (max-width:1315px) {
  .trio-col h2 {
    font-size: 2.2em;
  }
}

@media (max-width:1200px) {
  .trio-col h2 {
    font-size: 2em;
    height:2em;
  }
  .basics .people {
    margin: 3em 3.5em 1em;
  }
  .basics-head img {
    max-height: 250px;
    bottom: -1.5em;
  }
  .basics-head h2 {
    font-size: 3.8em;
  }
  .btn {
    font-size: 1em;
  }
}

@media (max-width:1100px){
  .trio-col h2 {
    font-size: 1.8em;
  }
  .basics-head img {
    max-height: 250px;
  }
  .basics-head h2 {
    font-size: 3em;
  }
}

@media (max-width:1000px) {
  .trio-col h2 {
    font-size: 1.4em;
  }
  #menu {
    padding:0 0.5em;
    font-size: 2.2em;
  }
  .basics-head img {
    max-height: 200px;
  }
  .person .inner {
    flex-direction: column;
  }
  .person .inner p {
    margin-left:0;
    width:100%;
  }
  .basics .people {
    margin-top:0;
  }
  .person {
    margin-top:0.5em;
  }
}

@media (max-width:900px) {
  .trio-col h2 {
    font-size: 2.2em;
  }
  .contain {
    width:100%;
  }
  #foot {
    padding: 5px 20px;
    box-sizing: border-box;
  }
  #menu-container {
    width:100%;
    height:100%;
  }
  .btn.close {
    display:block;
  }
  #menu-container #close-menu {
    display: inline-block;
  }
  .basics-head img {
    max-height: fit-content;
    bottom: -2.3em
  }
  .basics-head h2 {
    font-size:5em;
  }
  .basics .people {
    margin: 0 auto 1em;
  }
  .person .inner {
    flex-direction: row;
  }
  .person .inner p {
    margin-left: 1em;
  }
}

@media (max-width:800px){
  .basics-head img {
    bottom: -1.8em;
  }
  .basics-head h2 {
    font-size:3.8em;
  }
}

@media (max-width:700px) {
  .trio-col h2 {
    font-size: 1.8em;
  }
  #hero img:first-child {
    max-height: 200px;
  }
  .basics-head h2 {
    font-size: 3.5em;
  }
  .basics-head img {
    bottom: -1.5em;
  }
  .person .inner {
    flex-direction: column;
  }
  .person .inner p {
    margin-left: 0;
  }
}

@media (max-width:550px) {
  .trio-col h2 {
    font-size: 1.4em;
  }
  .basics-head h2 {
    font-size: 2.6em;
  }
  .basics-head img {
    bottom:-1.3em;
  }
  #legal ul {
    padding-left: 3em;
  }
}

@media (max-width:450px) {
  .trio-col h2 {
    font-size: 1.2em;
  }
  #hero .btn {
    width:50%;
  }
  #hero h1 {
    font-size: 1.4em;
  }
  #hero img {
    max-height: 120px;
  }
  #foot p {
    font-size: 0.7em;
  }
  #foot img {
    width:40%;
  }
  #legal ul {
    padding-left: 2em;
  }
  #legal div p:nth-child(1), #legal div p:nth-child(3), #legal div p:nth-child(5),#how div p:nth-child(2) {
    padding-left: 1em;
  }
}

@media (max-width:400px){
  .basics-head h2 {
    font-size: 2.2em;
  }
  .basics-head img {
    bottom: -1em;
  }
}

@media (max-height:800px){
    .rhombus.top {
        top:20vh;
    }
    .rhombus.mid {
        top:80vh;
    }
    .rhombus.base {
        top:90vh;
    }
}


@media (max-width:480px){
/*
    .mob-overlay {
        display:block;
        position: absolute;
        margin:0 auto;
        z-index: 1;
    }
*/
    #hero-header {
        flex-direction: column;
    }
    #hero-header-text {
        padding-right: 0;
        text-align: center;
    }
    #hero {
        margin-top: 4em;
    }
    #hero h1 {
        font-size: 1.5em;
    }
    #hero h2 {
        margin-bottom: 5px;
    }
    #hero-header-img {
        margin-top: 2em;
    }
    #hero img:first-child {
        max-height: none;
    }
    .gather {
        flex-direction: column;
    }
    #head {
        padding:5px 0;
    }
    .header-menu {
        padding:0.5em;
    }
    .header-menu p {
        display:none;
    }
    #head .header-menu img {
        padding-left: 0;
    }
    .glyph {
        display: flex;
        justify-content: flex-start;
        width:100%;
        padding-left: 5px;
    }
    .glyph a:last-child {
        margin: 0 auto;
    }
    .home #intro-container {
        padding-right: 0;
        margin-right: 0;
    }
    #promo {
        max-width: none;
        display:none;
    }
    .person img {
        max-width: 25vw;
        margin: 0 auto;
    }
    .person {
        flex-basis: 60%;
        margin:0;
        margin-top:1.5em;
    }
    #foot {
        flex-direction: column;
    }
    .info {
        order: 1;
    }
    .info img, .info p{
        display: none;
    }
    #copyright {
        display: block;   
        color: grey;
    }
    .links a {
        text-decoration: underline;
        font-size: 0.85em;
    }
    #foot .links p {
        text-align: center;
    }
    .brown-bg {
        background-color: initial;
        margin-top:0;
    }
    .brown-bg .contain-sm {
        padding:0;
        margin-top: 6em;
        margin-bottom: 3em;
    }
    .contain-sm {
        width:85%;
    }
    .brown-bg .add-shadow {
        box-shadow: none;
    }
    .submenu {
        display:none;
    }
    .contain-md {
        max-width: 100vw;
    }
    .save-btn {
        display:none;
    }
    .right-col {
        flex-basis: fit-content;
        padding:3em;
    }
    #page.survey {
        padding-top: 3em;
    }
}