/* everything to do with the scroll effect on heading */
.nav-scroll {
  color: #A9BCD0;
}
body.buildPage #head.nav-start {
  opacity:100;
}
body.buildPage #page {
  padding-top:4em;
}
#head.nav-start {
  opacity:0;
}
.nav-scroll #editBtn {
  color:#fff;
}

/* editing mode */
.editMode {
  border: 3em #a9bcd0 solid;
  border-top: 0;
  border-bottom: 0;
}
.editMode .questionContent {
  margin-bottom: 3em;
}
#editBtn.editMode {
  border-width: 0.5em;
}
#editBtn {
  color: #066493;
  cursor: pointer;
}

/* progress bar  */
progress {
  width:100%;
  opacity: 0.5;
  background: #1b263b;
  border: 0;
  display: block;
}
progress[value="0"] {
  display:none;
}

/* spinner */
#spinner {
  display: none;
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: 10;
  background: #893168;
  padding:1em;
}
#spinner img {
  max-width: 100px;
}
#spinner.loading{
  display: block;
}
#snapshotGroup.hidden{
  display:none !important;
}
#snapshotGroup{
  display: flex;
  flex-direction: column;
  color: #f2eee2;
  font-size:0.8em;
}
#snapshotGroup div {
  display: flex;
  align-items: center;
}
