/* TODO: fix so it applies just to external links
a[href]:visited {
  color:inherit;
} */
/* links styles */
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.btn:hover {
  text-decoration: none;
}
:focus {
  border-style: solid;
  border-width: 0.5px;
}
/* styles for highlighting current element in focus */
/* :focus,
form input[type="radio"]:focus + label,
form input[type="checkbox"]:focus + label,
input[type="text"]:focus,
textarea:focus {
  border-color: #bbb;
} */

#head a {
  margin:0.5em 0;
}
.links {
  list-style: none;
  margin-left: auto;
  cursor: pointer;
}

.links a, .links a:visited {
  padding: 5px;
  border:2px solid;
  border-radius: 5%;
  border-color: transparent;
  color:inherit;
}

.links a:hover, .links a.active {
  border-color: #066493;
}
.nav-scroll .links a:hover, .nav-scroll .links a.active {
  border-color: #066493;
}

.links li {
  display:inline;
  padding: 0 20px;
}

.links li:first-child {
  padding-left: 0;
}
.links li:last-child {
  background-color: #f2eee2;
  font-weight: bold;
  padding:1em;
  white-space: nowrap;
}

.nav-start .links li:last-child a{
  color:#066493;
}

.nav-scroll .links li:last-child {
  background-color: #066493;
  color: #fff;
}

.nav-start p a {
  color: #fff;
  font-weight: bold;
}

.question-panel {
  border: 1px solid currentColor;
  padding: 1em;
  background-color: #f2eee2;
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.question-panel div{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.questionContent > .btn-tert {
  min-width:3em;
}

.questionContent summary {
  width: auto;
  padding: 1em;
  cursor: pointer;
}

#editBtn.disabled {
  display:none;
}
#submitAnswers {
  margin-right:0;
}

#submitAnswers:disabled {
  cursor: not-allowed;
  opacity:75%;
  background-color: #888685;
  border:#ccc;
}

.homeSectionOverview{
  padding: 0 0 2em 3em;
  font-size: 1em;
  font-family: "Helvetica", "OpenSans", sans-serif;
  width:100%;
}


details[open=""] summary {
  opacity: 0.5;
}
details a {
  color:#b93168;
}

.dlBtnWrapper {
  display: flex;
  flex-direction: column;
}
.dlBtnWrapper > div {
  justify-content: space-evenly;
  display: flex;
  margin-top: 1em;
}

.btn {
  border:2px solid;
  padding: 0.75em;
  margin: 10px;
  min-width:10em;
  text-align: center;
  cursor: pointer;
  font-size: 1em;
}

.btn-prim {
  background-color: #bbb;
  border-color: #333;
  color:#f2eee2;
  font-weight: bold;
}
.btn-prim:hover, .btn-seco:hover, #intro .btn-seco:hover{
  background-color: #A9BCD0;
  color: #1b263b;
}
.btn-seco {
  color: #066493;
  border-color: #066493;
  background: #f2eee2;
}
.nav-start .btn.btn-seco {
  color: #fff;
  background-color: #066493;
}

.nav-start .btn.btn-seco:hover, .nav-start .btn.btn-tert:hover {
  color: #066392;
  background-color: #fff;
}

.btn-tert {
  border: 0;
  color: #fff;
  background-color: #066493;
  min-width: 0;
  border:1px solid #fff;
}

.btn-tert:hover {
  background-color: #bbb;
}

.btn-tert.highlight {
  background-color: #bbb;
}

.btn-wrap {
  display:flex;
  padding: 2em 0 0 1em;
}

.wrap-r {
  justify-content: space-between;
  margin-bottom:1em;
}

form input[type='radio'],
form input[type='checkbox'] {
    /* Hide the input, but have it still be clickable */
    opacity: 0;
    position: absolute;
    z-index: 10;
}
#homeLink:focus {
  border: initial;
}
button::-moz-focus-inner {
  outline: none;
  border: none;
}

#snapshotPolicy:disabled, #snapshotPolicy:disabled + div {
  display: none;
}
