/* remove once editing output is deleted */
.policyHolder {
  width:100%;
  display:inline-block;
  min-height:300px;
  border: none;
  padding: 1em 2em;
  box-sizing: border-box;
  text-align: left;
  line-height: 1.8em;
  color:#1b263b;
}
/* remove once incident response handling is deleted */
.incidentBox {
  text-align: left;
  padding:2em;
  width: 95%;
  min-height: 300px;
}
